# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
*.plan
terraform/tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
terraform.rc

# Lambda artifacts
*.zip

# Secrets & keys
.env
.env.*
*.pem
*.key

# OS
.DS_Store
