.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.DS_Store
.terraform.lock.hcl
terraform/tfplan
*.tfplan

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.plan

# Lambda artifacts
*.zip

# Mac
.DS_Store
