apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: crystolia-staging
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/ShaiMullo/crystolia-gitops.git
    targetRevision: main # Or HEAD
    path: staging
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: staging
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
